@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.qr-code img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.text-content {
  margin-top: 20px;
}

.text-content h1 {
  font-weight: 700;
}

.text-content p {
  padding: 5%;
}

@media only screen and (max-width: 420px) {

  .container {
    max-width: 325px;
    padding: 15px;
  }

  .text-content h1 {
    font-size: 1.5em;
  }

}
